* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.3s;
   font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
   background-image: url(../assets/fnd2.jpg);
   background-size: cover;
   background-attachment: fixed;
   margin: 0;
   padding: 0;
}

.titulo {
   margin-top: 20px;
   transition: margin 0.3s;
   font-size: 24px;
   font-weight: bold;
}

.btn-busqueda {
   position: relative;
   width: 400px;
   margin-left: 540px;
   transition: all 0.3s;
   transform: scale(1);
   font-size: 18px;
}

.container {
   margin-top: 20px;
   max-width: 1300px;
   width: 100%;
   top: 0px;
   padding: 0 20px;
   transition: all 0.3s;
}

section {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition: all 0.3s;
}

h3 {
   font-size: 30px;
   line-height: 1.5;
   text-align: center;
   margin-bottom: 0px;
   transition: all 0.3s;
   transform: scale(1);
}

.cards {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   /* Espacio entre las tarjetas */
   transition: all 0.3s;
}

.card {
   background: #fff;
   border-radius: 10px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
   padding: 16px;
   margin-bottom: 20px; /* Agrega margen en la parte inferior para separar las tarjetas */
   transition: transform 0.3s, box-shadow 0.3s;
   max-width: 300px; /* Limita el ancho máximo de las tarjetas */
   text-align: center; /* Alinea el texto al centro */
   overflow: hidden; /* Evita que el contenido sobresalga */
   height: 510px;
}

.card:hover {
   transform: scale(1.05);
   box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.card h2 {
   font-size: 24px;
   margin-bottom: 10px;
}

.card p {
   margin-bottom: 3px;
}

.card .actions {
   margin-top: 10px;
}

.plac-ve {
   font-size: 25px;
   color: white;
}
/* Estilo para el encabezado de las tarjetas */
.card-header {
   background-color: #76a6f3;
   color: #fff;
   font-weight: bold;
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 0px;
   border-radius: 15px;
   margin-bottom: 10px;
}

/* Aplica el estilo del encabezado en el elemento h4 dentro de la tarjeta */

.vehi-pla{
   font-size: 15px;
   padding-bottom: 2px;
}




.btn {
   border: none;
   outline: none;
   
   background: #4285F4;
   color: #ffffff;
   border-radius: 10px;
   max-width: 100%;
   width: 300px;
   height: 40px;
   margin-left: 10px;
   text-align: center;
   line-height: 30px;
   cursor: pointer;
   transition: all 0.3s;
   font-size: 16px;
   transform: scale(1);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 6px 16px;
   border-radius: 4px;
   font-weight: 500;
   cursor: pointer;
   text-align: center;
}

#MyDropDown .btn {
   margin-left: 0px;
   width: 100px;
   height: 40px;
   text-transform: uppercase;
   margin-right: 70px;
}

.btn-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 0px;
   /* Puedes ajustar el margen superior según tus necesidades */
}

.btn:hover {
   background: #1967D2;
   transform: scale(1.05);
   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 969px) {
   section {
      padding: 20px 0;
   }

   h3 {
      font-size: 24px;
      transform: scale(1);
   }

   .card {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
   }
}

@media (max-width: 600px) {
   .card {
      flex: 0 0 100%;
      max-width: 100%;
   }
}

p {
   color: rgb(61, 61, 63);
   text-align: center;
   transition: all 0.3s;
   font-size: 18px;
}

h5 {
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   transform: scale(1);
}

h4 {
   font-size: 17px;
   line-height: 1.2;
   text-align: center;
   color: rgb(7, 7, 7);
   transition: all 0.3s;
   transform: scale(1);
}

/* Estilos generales del sidebar */
.sidebar {
   box-shadow: 0px 5px 15px rgba(0.3, 0.3, 0.3, 0.3);
   position: fixed;
   left: 0;
   top: 1;
   width: 250px;
   height: 100%;
   background-color: #fff6f6;
   /* Fondo del sidebar */
   padding: 20px;
   color: #000000;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Estilo del logo */
.sidebar-logo a {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
   color: #000000;
}

/* Estilos para los enlaces del sidebar */
.sidebar-links {
   list-style: none;
   padding: 0;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   flex-grow: 1;
   color: black;
}

.sidebar-links li {
   margin-bottom: 10px;
   width: 100%;
}

.sidebar-links a {
   text-decoration: none;
   color: #000000;
   font-size: 18px;
   width: 100%;
   padding: 10px;
   text-align: center;
}

/* Cambiar el color al pasar el mouse por encima de los enlaces */
.sidebar-links a:hover {
   color: #00f;
}

/* Otros estilos específicos del sidebar según tus necesidades */



/* Estilo para el contenedor de la barra de búsqueda */
.search-container {
   position: relative;
   
   width: 400px;
   margin-left: 750px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #dfe1e5;
   /* Borde ligero */
   border-radius: 24px;
   /* Bordes redondeados */
   background: #fff;
   /* Fondo blanco */
   box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
   /* Sutil sombra */
   transition: all 0.3s;
}



/* Estilo para el campo de entrada de búsqueda */
.search-input {
   width: 100%;
   padding: 10px;
   
   border: none;
   outline: none;
   font-size: 16px;
   border-radius: 24px;
   /* Bordes redondeados */
   transition: border-color 0.3s;
   flex-grow: 1;
}

.icon-busqueda {
   padding-left: 15px;
}

.google {
   
   border: none;
   text-decoration: none;
   outline: none;
   width: 100%;
}

/* Estilo para el ícono de búsqueda */
.search-icon {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   color: #5f6368;
   /* Color de ícono similar al de Google */
   transition: color 0.3s;
   cursor: pointer;
}

/* Estilo para el ícono de búsqueda al enfocar el campo de entrada */
.search-input:focus+.search-icon {
   color: #4285f4;
   /* Cambia el color del ícono al enfocar el campo de búsqueda */
}

/* Estilo para el campo de entrada de búsqueda al enfocar */
.search-input:focus {
   border-color: #4285f4;
   /* Cambia el color del borde al enfocar el campo de búsqueda */
}

/* Reglas de medios para hacerlo responsive */
@media (max-width: 768px) {
   .search-input {
      font-size: 14px;
      /* Reduce el tamaño de fuente para pantallas más pequeñas */
   }
}

@media (max-width: 480px) {
   .search-input {
      font-size: 12px;
      /* Reduce aún más el tamaño de fuente para pantallas más pequeñas */
   }
}

/* El resto de tus estilos se mantiene igual */



.navbar-title {
   font-family: 'Arial', sans-serif;
   /* Cambia 'Tu Fuente Personalizada' por la fuente que desees */
   font-size: 20px;
   /* Tamaño de fuente */
   color: #000000;
   /* Color del texto */
   text-transform: uppercase;
   /* Transformar texto a mayúsculas */
   /* Otros estilos que desees aplicar */
   padding-top: 20px;
}

/* ... Resto de tus estilos */

.custom-frop .dropdown-toggle {
   box-shadow: none;
   background: transparent;
   border: none;
   color: #050101;
   /* Color de texto personalizado */
   text-decoration: none;
   padding: 0px 0px;
   font-size: 18.2px;
   font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.custom-frop .dropdown-item {
   padding: 10px 15px;
   font-size: 16px;
   /* Tamaño de fuente personalizado */
   color: #333;
   /* Color de texto personalizado */
   text-decoration: none;
}

.custom-frop .dropdown-item:hover {
   background-color: #f0f0f0;
   /* Cambia el color de fondo al pasar el mouse */
   color: #000000;
   /* Cambia el color de texto al pasar el mouse */
}

.custom-frop .dropdown-menu {
   border: none;
   box-shadow: none;
   background: #fff;
   /* Fondo del menú personalizado */
}

.custom-frop .dropdown-toggle::after {
   display: none;
   /* Oculta el icono de flecha del botón */
}

.custom-frop .dropdown-menu::before {
   border-bottom: 8px solid #fff;
   /* Personaliza la flecha del menú */
   border-right: 8px solid transparent;
   border-left: 8px solid transparent;
}

/* Personaliza cualquier otro estilo según tus preferencias */
/* Resto de tus estilos CSS */

/* navbar.css */

/* Estilos generales del navbar */
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ffffff;
   /* Fondo del navbar */
   padding: 10px 0px;
   /* Espaciado interior del navbar */
   height: 90px;
   /* Altura del navbar */
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
   z-index: 1000;
   border-radius: 25px;
}

/* Estilo del logo */
.navbar-logo a {
   color: #fff;
   /* Color del texto del logo */
   font-size: 24px;
   /* Tamaño de fuente del logo */
   text-decoration: none;
}

/* Estilo de los enlaces del navbar */
.navbar-links {
   list-style: none;
   display: flex;
}

.navbar-links li {
   margin-right: 20px;
   /* Espaciado entre enlaces */
}

.navbar-links a {
   color: #fff;
   /* Color del texto de los enlaces */
   text-decoration: none;
   font-size: 1px;
   /* Tamaño de fuente de los enlaces */
}

/* Cambiar el color al pasar el mouse por encima de los enlaces */
.navbar-links a:hover {
   color: #007bff;
   /* Color al pasar el mouse por encima de los enlaces */
}

@media (max-width: 768px) {
   .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
   }
}


/* Estilos para el contenedor de paginación */
/* Contenedor de la paginación */
.pagination-container {
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   margin: 0;
   padding: 0;
   background-color: #f0f0f0;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

/* Botón "Anterior" */
.pagination-button.previous {
   background: var(--primary-color);
   color: #333;
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
   transition: background 0.3s, transform 0.2s ease-in-out;
   margin: 0 5px;
}

.pagination-button.previous:hover {
   transform: scale(1.1);
   background: #007bff;
   color: #fff;
}

/* Botón "Siguiente" */
.pagination-button.next {
   background: var(--primary-color);
   color: #333;
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
   transition: background 0.3s, transform 0.2s ease-in-out;
   margin: 0 5px;
}

.pagination-button.next:hover {
   transform: scale(1.1);
   background: #007bff;
   color: #fff;
}

/* Botón activo */
.pagination-button.active {
   background: #007bff;
   color: #fff;
   border: none;
   border-radius: 20px;
   padding: 8px 15px;
   cursor: pointer;
   transition: background 0.3s, transform 0.2s ease-in-out;
   margin: 0 5px;
}

.pagination-button.active:hover {
   transform: scale(1.05);
}

/* Estilo para botones deshabilitados */
.pagination-button.disabled {
   pointer-events: none;
   opacity: 0.6;
   margin: 0 5px;
}


/* Estilos generales del formulario */
.md-form {
   max-width: 400px;
   margin: 0 auto;
}

/* Estilos para los grupos de campos de entrada */
.md-form-group {
   position: relative;
   margin-bottom: 20px;
}

/* Estilos para los campos de entrada */
.md-input {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
}

/* Estilos para las etiquetas de los campos de entrada */
.md-label {
   position: absolute;
   top: 0;
   left: 0;
   font-size: 16px;
   pointer-events: none;
   transition: 0.2s ease all;
}

/* Estilos para los campos de entrada enfocados */
.md-input:focus {
   border-color: #007bff;
}

/* Estilos para las etiquetas de los campos de entrada cuando están enfocados */
.md-input:focus+.md-label,
.md-input:valid+.md-label {
   top: -20px;
   font-size: 14px;
   color: #007bff;
}

/* Estilos para los ayudantes o descripciones de los campos de entrada */
.md-helper {
   font-size: 14px;
   margin-top: 5px;
   color: #888;
}

/* Estilos para los botones */
.md-button {
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 10px 20px;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
   transition: background-color 0.3s;
}

.md-button:hover {
   background-color: #0056b3;
}

